.ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

.li{
    float: left;
}

.link{
    display: block;
    padding: 8px;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.link:hover{
    background-color: #111;
}

.active{
    background-color: #04AA6D;
    display: block;
    padding: 8px;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}